* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: $fs-0;
    background-color: $color-white-0;
    line-height: $line-height-0;
}