.courses {
    margin-top: $mg-2;
}
.courses__detail {
    width: 80%;
    margin: auto;
    padding-top: $pd-1;
    h2 {
        @include text($color-black-0, $fs-1 + 3, $fw-bold-0);
    }
    p {
        @include text($color-black-0, $fs-1, $fw-normal);
    }
}
.courses__content {
   .nav {
       justify-content: space-between;
       border: none;
       .nav-item {
            &:hover {
                .nav-link {
                    border: none;
                }
            }
           .nav-link.active {
               border: none;
               border-bottom: 5px solid $color-blue;
           }
           .nav-link {
               @include text($color-black-0, $fs-0, $fw-normal);
           }
           
       }
      
   }
 
}
@include responsive("extra-large"){
   
}
@include responsive("large"){
    .courses {
        .courses__4 {
            display: none;
        }
    }
}
@include responsive("medium"){
    
    
}
@include responsive("small"){
    
}
