.footer {
    .footer__top {
        border-bottom: 1px solid #cdcdcd;
        padding: 30px 0px;
        .row{
            .active {
                font-weight: bold;
            }
            ul {
                line-height: 2;
                color: $color-blue;
                li {
                    font-size: 13px;
                    list-style: none;
                }
            }
            .col-four {
                text-align: right;
                select {
                    padding: 10px;
                }
            }
        }
    }
    .footer__bot {
        padding: 20px 0px;
        border-bottom: 5px solid red;
        .content__left {
            align-items: center;
            img {
                width: 150px;
            }
            p {
                margin-bottom: 0;
                margin-left: 15px;
                font-size: 13px;
            }
        }
        .content__right {
            align-items: center;
            justify-content: flex-end;
            ul {
              
                margin: 0;
                li {
                    list-style:none;
                    margin-right: 10px;
                    font-size: 13px;
                }
            }
           
        }
    }
}
@include responsive("extra-large"){
   
}
@include responsive("large"){
   
}
@include responsive("medium"){
   .col-0 {
       display: none;
   }
   .footer__bot {
       .row {
           display: block !important;
       }
   }
}
@include responsive("small"){
    
}