
.header__left {
    display: flex;
    align-items: center;
    padding: 0px;
    .navbar-brand {
        float: 1;
        img {
            width: 110px;
        }
    }
    .header__cate {
        flex: 1;
        @include text($color-black-light, $fs-1, $fw-normal);
    }
    // flex-grow->set width cho thẻ con cuẩ flex
    .header__form {
        flex: 5;
        .form-control {
            background-color: $color-gray-1;
            color: $color-black-0;
            border: none;
            transition: none;
            &:focus {
                box-shadow: none;
                background-color:$color-white-0;
                border-top:1px solid $color-gray-3;
                border-bottom:1px solid $color-gray-3;
                border-left:1px solid $color-gray-3;
            }
            &:focus + .input-group-append {
                .input-group-text {
                    color: $color-red-0;
                    background-color: $color-white-0; 
                    border-top:1px solid $color-gray-3;
                    border-bottom:1px solid $color-gray-3;
                    border-right:1px solid $color-gray-3;
                }
                &:hover {
                    .input-group-text {
                        color: $color-white-0;
                        background-color: $color-red-0;
                    }
                }  
            }
        }
        .input-group-append {
            .input-group-text {
                background-color: $color-gray-1;
                color: $color-red-0;
                border: none;
            }
            &:hover {
                .input-group-text {
                    color: $color-white-0;
                    background-color: $color-red-0;
                }
            }  
        }
    }
}
.header__right {
    .navbar-nav {
        justify-content: space-between;
        .nav-item {
            .nav-link {
                padding: $pd-1 $pd-1 + 2;
                @include text($color-black-light, $fs-1, $fw-normal);
            }
            &:hover {
                background-color: $color-gray-1;
                
            }
        }
        .nav-item:nth-child(3) {
            padding: 0 !important;
            border-radius: 50%;
        }
    }
    
}

@include responsive("extra-large"){
    .header__right{
        .navbar-nav {
            .udemy, .tech{
                display: none;
            }
        }
        
    }
}
@include responsive("large"){
    .header__right{
        
        .navbar-nav {
           flex-direction: row;
        } 
    }
    .header__left{
        .header__cate {
            flex: 2;
        } 
        .header__form {
            flex: 4;
        } 
    }
    .navbar-toggler-icon {
        display: none !important;
    }
}
@include responsive("medium"){
    .header__left{
        .header__cate, .header__form {
           display: none;
        } 
    }
    .header__right{
        .navbar-nav {
            .nav-item {
                .udemy, .tech {
                    display: none;
                }
            }
            .but {
                display: none;
            }
           
        } 
    }
}
@include responsive("small"){
    
}