.intro {
    background: linear-gradient(to right, $color-red-2, $color-red-0);
}
.intro .intro__contain {
    .row {
        .col-md-4 {
            .intro__item {
                color: $color-white-0;
                display: flex;
                align-items: center;
                padding: $pd-1 0px;
                .icon {
                    font-size: 50px;
                    padding-right: 15px;
                }
                .icon__content {
                    p {
                        margin: 0;
                        font-weight: $fw-bold-0;
                    }
                }
            }
            .item__2 {
                justify-content: center;
            }
            .item__3 {
                justify-content: flex-end;
            }
        }
    }
   
}


@include responsive("extra-large"){
   .intro__contain {
       .intro__item {
           justify-content: center !important;
           .icon {
               display: none;
           }
       }
   }
}
@include responsive("large"){
    
}
@include responsive("medium"){
    .intro {
        display: none;
    }
}
@include responsive("small"){
    
}