.services {
    padding: 30px 0px;
    background-color: $color-gray-5;
    margin-top: $mg-2;
    .col-4 {
        padding: $pd-1 !important;
        .content {
            height: 100%;
            width: 100%;
            border: 1px solid $color-white-cream;
            background-color: $color-white-0;
            padding: $pd-2 0px;
            .content__detail {
                h2 {
                    @include text($color-black-0, $fs-2, $fw-bold-1);
                }
                span {
                    @include text($color-gray-4, $fs-1 + 3, $fw-normal);
                }
            }
            .icon {
                i {
                    color: $color-blue;
                    font-size: 40px;
                    padding: 0px 15px;
                }
            }
        }
       
    }
}
@include responsive("extra-large"){
   
}
@include responsive("large"){
    .services {
        .col-4 {
            height: 230px;
            .content {
                display: block !important;
                text-align: center;
            }
        }
    }
}
@include responsive("medium"){
    
    
}
@include responsive("small"){
    
}