.students__content {
    
    margin-top: $mg-2;
    position: relative;
    .card-title {
        @include text($color-black-0, $fs-0, $fw-bold);
    }
    .card-text {
        @include text($color-gray-4, $fs-1, $fw-normal);
    }
    .rating {
        .rating__star {
            margin-right: $mg-0;
            @include text($color-yellow, $fs-1, $fw-normal);
        }
        span:nth-child(2) {
            margin-right: $mg-0;
            @include text($color-gray-4, $fs-1, $fw-bold);
        }
        span:last-child {
            @include text($color-gray-4, $fs-1, $fw-normal);
        }
    }
    .price {
        text-align: right;
        margin-top: $mg-1;
        .old__price {
            text-decoration: line-through;
            @include text($color-gray-4, $fs-1, $fw-normal);
        }
        .new__price {
            @include text($color-black-0, $fs-1, $fw-bold);
        }
    }
    
}
