.topCategories {
    padding: 30px 0px;
    h3 {
        @include text($color-black-0, $fs-3, $fw-bold);
    }
    .item {
       .detail {
           display: flex;
           align-items: center;
           padding: 20px 0px;
           border: 1px solid #cdcdcd;
           margin-bottom: 15px;
           box-shadow: 0 0 2px #cdcdcd;
           transition: all 0.5s;
           &:hover {
                box-shadow: 0 0 7px #4b4a4a;
           }
           i {
               font-size: $fs-3;
               padding:0px $pd-1;
           }
       } 
    }
}

@include responsive("large"){
    
}
@include responsive("medium"){
    
}
@include responsive("small"){
    
}